<%= form_with model: @event do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.text_field :event_type, class: 'disabled' %>
  </div>

  <div class="field">
    <%= f.label :event_code %><br />
    <%= f.text_field :event_code, class: 'disabled' %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
