<div class="main-container border border-dark-subtle p-2">
  <h1> Event Details </h1>
  <hr>
  <p> Event Name: <%= @event.name %> </p>
  <p> Event Type: <%= event_type_display(@event.event_type) %> </p>
  <p> Event Code: <%= @event.event_code %> </p>

  <%= link_to 'Back', events_path, class: "btn btn-secondary" %>
  <% if @event.users.include? current_user %>
    <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
    <%= button_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger mt-3" %>
  <% end %>
</div>
